$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$button_transition: all 200ms $ease-out-quad;



scrolledwindow {
	border: 0;
}

.iconfont {
	font-family: "iconfont", monospace;
	font-size: 1.6em;
	font-style: normal;
}

.left_box {
	/* box-shadow: 0 0px 20px 0px rgba(160, 160, 160, 255); */
	/* background: linear-gradient(#e66465, #9198e5); */
}

.right_box {
	padding: 0 20px 0 20px;
	background: linear-gradient(90deg, #e0e0e0 0px, #575c9300 20px);
}

.main_title {
	padding: 20px 0 20px 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.main_title_sep {
	margin-bottom: 30px;
	padding-left: 3em;
	padding-right: 3em;
}

.btns {
	button {
		margin: 0 15px 0 15px;
		outline: unset;
		background-color: unset;
		background-image: unset;
		box-shadow: unset;
		padding-top: 1em;
		padding-bottom: 1em;

		&:hover {
			background-color: blueviolet;
			background-image: image(blueviolet);
			transition-duration: 500ms;
			transition: $button_transition;

			label {
				color: white;
			}
		}

		&:active {
			background-color: blueviolet;
			background-image: image(blueviolet);
			transition-duration: 500ms;
			transition: $button_transition;

			label {
				color: white;
			}
		}

		&:focus {
			background-color: darkblue;
			background-clip: border-box;
		}

		&:backdrop {
			background-color: unset;
			background-image: unset;
			box-shadow: unset;
		}

	}

}